body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}
.sidebar {
  height: 100vh;
  overflow-y: auto;
}

.nav ul {
  padding: 0;
  list-style-type: none;
}

.nav .nav-item {
  margin-bottom: 10px;
}

.nav .nav-link {
  color: #fff;
  text-decoration: none;
}

.nav .nav-link:hover {
  text-decoration: underline;
}
