/* body {
  background-color: white;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(177, 35, 35);
  border-bottom: 5px;
  border: 1px solid black;
  color: white;
}

li {
  float: right;
  margin: 5px;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgba(255, 54, 54, 0.435) 25%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(177, 35, 35);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(148, 224, 228);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(255, 54, 54, 0.435) 25%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
    float: left;
}
.dropdown3 {
    width: 9%;
    float: left; 
}
li.dropdown3 {
    display: inline-block;
}
img {
    width: 48px;
    padding: 0px 20px;
    cursor: pointer;
}

a {
  color: white;
}

.dropdown4 {
  width: 100%;
  flex-direction: column;
  align-items: center; 
}
li.dropdown4 {
  display: flex;
}